@use 'variables' as variables;

@mixin common-styles {
    * {
        box-sizing: border-box;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-size: 1.6rem;
        font-family: "Poppins", sans-serif;
    }

    a {
        text-decoration: none;
    }
    
    .btn {
        display: inline-block;
        min-width: 118px;
        padding: 0 16px;
        line-height: 50px;
        color: #fff;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: 999px;
        background: #171100;
    
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    
    .heading {
        color: #171100;
        font-family: variables.$font-heading;
        font-weight: 700;
        letter-spacing: -0.116rem;
    
        &.lv1 {
            font-size: 5.8rem;
            line-height: 1.17;
        }
    
        &.lv2 {
            font-size: 3.8rem;
            line-height: 1.26;
        }
    }
    
    .main-content {
        width: 1170px;
        max-width: calc(100% - 48px);
        margin-left: auto;
        margin-right: auto;
    }
}